@font-face {
  font-family: calligraphy;
  src: url("./Fonts/billy-argel_calligraphy/calligraphy wet.ttf");
}
@font-face {
  font-family: cat;
  src: url("./Fonts/graphic-cat/GraphicCAT.ttf");
}

html {
  background-color: #f8f8ff;
}

.app {
  text-align: center;
}
/* HEADER */
.app-header {
  /* background-color: #282c34; */
  /* background-image: url("./UI-images/header-background-image.PNG"); */
  background-image: url("./UI-images/Logo.PNG");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 68% center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  font-family: calligraphy;
  color: rgb(0, 0, 0, 0);

  margin-bottom: 5%;
  padding-top: 5%;
}

h1 {
  font-size: 15vw;
}
h2 {
  font-size: 3vw;
  font-family: cat;
  color: #092f80;
}

h5 {
  font-family: Arial;
  padding-top: 0px;
  color: #092f80;
  text-transform: uppercase;
}
.search-art > h2 {
  font-size: 2em;
}

/* NAV BAR */
nav {
  font-size: 2vw;
  margin: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  overflow: hidden;
  list-style-type: none;
  width: 60%;
  height: 5vh;
  vertical-align: center;
  line-height: 5vh;
  display: inline-block;
  border-top: 2px solid #8DBEE8;
  border-bottom: 2px solid #8DBEE8;
  background-color: #092f80;
  box-shadow: 0 8px 6px -6px black;
}
a {
  color: white;
  text-align: center;
  text-decoration: none;

  width: 30%;
  margin: 3vw;
}


/* SEARCH BAR */
#keyword {
  margin: 0 8px;
  border-radius: 25px;
  width: 30vw;
}
#submit {
  margin: 0 8px;
  border-radius: 25px;
  border: none;
  width: 15vw;
  font-size: 1vw;
}
#submit:hover {
  margin: 0 8px;
  border-radius: 25px;
}
.button {
  margin: 0 8px;
  border-radius: 25px;
  border: none;
  background-color: #092f80;
  color: #8DBEE8;
}
.button:hover {
  background-color: #8DBEE8;
  border: 2px solid #092f80;
  color: #092f80;
}


/* IMAGES */
.search-art {
  margin: auto;
  text-align: center;
}
.art-piece {
  font-family: helvetica;
  background-color: rgb(141, 190, 232, .2);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 8px 6px -6px black;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
   text-shadow: .5px .5px black;
}

.fav {
  background-color: rgb(141, 190, 232, .2);
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 8px 6px -6px black;
}

img {
  /* background-image: url("./UI-images/canvas.PNG"); */
  padding: 20px;
  max-width: 40vw;
  border: 1px solid rgb(0, 0, 0, .1);
  box-shadow: inset 0 0 500px #000000;
  border-radius: 4px;
}

/* USER LOGGED IN */

#usernotes {
  background: #4E87B0;
  text-align: center;
  width: 50%;
  overflow: auto;
}
