@font-face {
  font-family: calligraphy;
  src: url("./Fonts/billy-argel_calligraphy/calligraphy wet.ttf");
}
@font-face {
  font-family: cat;
  src: url("./Fonts/graphic-cat/GraphicCAT.ttf");
}

html {
  background-color: ghostwhite;
}

.app {
  text-align: center;
}

.app-header {
  /* background-color: #282c34; */
  background-image: url("./UI-images/header-background-image.PNG");
  background-repeat: no-repeat;
  background-position: 75% center;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  font-family: calligraphy;
  color: white;
  margin-bottom: 5%;
  padding-top: 5%;
}
h1 {
  font-size: 4em;;
}
h2 {
  font-family: cat;
  padding-top: 0px;
  color: #092f80;
}
#keyword {
  margin: 0 8px;
  border-radius: 25px;
  width: 20%;
}
#submit {
  background-color: #092f80;
  margin: 0 8px;
  border-radius: 25px;
  border: none;
}
#submit:hover {
  background-color: #8DBEE8;
  margin: 0 8px;
  border-radius: 25px;
}
img {
  width: 200px;
}
